.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, auto);
  height: 100vw;
  width: 100vw;
}

.grid-item {
  background-color: black;
  color: #fff;
  text-align: center;
}

.hovered {
  background-color: #fff;
  color: black;
  text-align: center;
}
