body {
  font-family: Arial, Helvetica, sans-serif;
  /*font-size: 16pt;*/
}

.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 60%;
  grid-row-gap: 10px;
  height: 44vw;
  width: 20vw;
  border: 5px double black;
  padding: 15px 15px 15px 15px;
}

.sub-results-area {
  border: 3px solid black;
}

.main-display-area {
  border: 3px solid black;
  text-align: right;
}

#display-area {
  font-size: 1.5em;
}

.control-panel-area {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

#control-clear {
  grid-column-start: 1;
  grid-column-end: 2;
}

#control-back {
  grid-column-start: 3;
  grid-column-end: 4;
}

btn {
  text-align: center;
  width: 100%;
}

.btn-digits {
  font-size: 1.5em;
}

.btn-ops {
  font-size: 1.5em;
}

.btn-edit {
  font-size: 0.8em;
}
