.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 30% 60%;
  grid-row-gap: 10px;
  height: 44vw;
  width: 20vw;
  border: 5px double black;
  padding: 15px 15px 15px 15px;
}

.sub-results-area {
  border: 3px solid black;
}

.main-display-area {
  border: 3px solid black;
}

.control-panel-area {
  border: 3px solid black;
}
